

.main-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid black; */
}


.player, .enemy {
    height: 75%;
    margin: 10px;
    border-radius: 15px;
    
    /* position: absolute; */
    background-color: rgb(235, 235, 235);
    /* border: 1px dotted black; */
}

.player_details {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 45px;
}

.player-image, .enemy-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;

}

.enemy-image {
    width: 100%;
    overflow: hidden;
    /* border: 1px solid black; */
}

.player-image > img {
    width: 100%;
}


.enemy-image > img {
    margin: 20px;
    width: 55%;
}

.progress {
    background-color: rgb(146, 146, 146);
    height: 30px;
    font-size: 25px;
}

.input-div {
    visibility: hidden;
    /* border: 2px solid black; */
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}


#guessed-number, #Save {
    width: 100%;
    margin: 10px;
}

@media only screen and (min-width:40px) and (max-width:321px){
    .input-div {
        width: 200px;
        height: 198px;
    }

    #guessed-number, #Save {
        margin: 0px;
    }
}


@media only screen and (min-width:320px) and (max-width:376px){
    .input-div {
        width: 260px;
        height: 250px;
    }

    #guessed-number, #Save {
        margin: 0px;
    }

    .buttons{
        margin-top: 30px;
    }
}


@media only screen and (min-width:375px) and (max-width:426px){
    .input-div {
        width: 260px;
        height: 250px;
    }

    #guessed-number, #Save {
        margin: 0px;
    }
}

@media only screen and (min-width:426px) and (max-width:769px){
    .input-div {
        width: 360px;
        height: 255px;
    }

    .buttons{
        margin-top: 20px;
    }
}